<%- include('../shared/includes/head', { pageTitle: "個人創作" }) %>
  <meta name="description" content="創造出屬於自己獨一無二的文章">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/myarticle.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <% if (mycreation !== [] && mycreation.length > 0) { %>
      <div class="title">
        <h1>個人創作</h1>
      </div>
      <ul id="article">
        <% for (const article of mycreation) { %>
          <li title="<%= article.title %>">
            <a href="/article_detail/<%= article._id %>">
              <div class="image">
                <img src='<%= article.imageURL %>' alt="<%= article.title %>">
              </div>
              <div id="auth-date">
                <p><%= article.author.nickname %> - <%= article.date %></p>
              </div>
              <p class="article-title"><%= article.title %></p>
            </a>
          </li>
        <% } %>
      </ul>
      <%- include('../shared/includes/paging', {route: 'creation'}) %>
    <% } else { %>
      <div class="no-content">
        <h1>目前尚未有文章</h1>
      </div>
    <% } %>
  </main>
<%- include('../shared/includes/footer') %>